---
- name: Create Deluge Directories
  file:
    path: "{{ item }}"
    state: directory
    # mode: 0755
  with_items:
    - "{{ deluge_config_directory }}"
    - "{{ deluge_download_directory }}"
- name: Deluge Docker Container
  docker_container:
    name: deluge
    image: linuxserver/deluge
    networks:
      - name: "{{ nas_bridge_network }}"
    pull: true
    volumes:
      - "{{ deluge_config_directory }}:/config:rw"
      - "{{ deluge_download_directory }}:/root/Downloads:rw"
      #    ports:
      #      - "{{ deluge_port }}:8112"
    env:
      TZ: "{{ deluge_timezone }}"
      PUID: "{{ deluge_user_id }}"
      PGID: "{{ deluge_group_id }}"
    restart_policy: unless-stopped
    recreate: "{{ 'yes' if docker_recreate else 'no' }}"
    memory: 1g
    labels:
      traefik.enable: "{{ deluge_available_externally }}"
      traefik.http.routers.deluge.entrypoints: "web,websecure"
      traefik.http.routers.deluge.rule: "Host(`{{ deluge_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.deluge.tls.domains[0].main: "{{ ansible_nas_domain }}"
      traefik.http.routers.deluge.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
      traefik.http.services.deluge.loadbalancer.server.port: "8112"
      flame.type: application
      flame.name: deluge
      flame.url: "https://{{ deluge_hostname }}.{{ ansible_nas_domain }}"
      flame.category: "Downloaders"
      flame.icon: deluge.png
