{{ nas_ip }} {{ ansible_nas_hostname }}
{{ nas_ip }} {{ ansible_nas_hostname }}.{{ ansible_nas_domain }}
{{ nas_ip }} {{ ansible_nas_hostname }}.local
{% for d in pihole_custom %}
{{ nas_ip }} {{ d }}.{{ ansible_nas_domain }}
{% endfor %}
