---
# More info at https://github.com/pi-hole/docker-pi-hole/ and https://docs.pi-hole.net/
services:
  cloudflared:
    container_name: cloudflared
    image: visibilityspots/cloudflared:latest
    ports:
      - target: 49312
        published: 49312
        protocol: tcp
      - target: 5054
        published: 5054
        protocol: tcp
      - target: 5054
        published: 5054
        protocol: udp
    restart: always
    environment:
      TZ: "{{ ansible_nas_timezone }}"
      UPSTREAM1: "https://1.1.1.1/dns-query"
      UPSTREAM2: "https://1.0.0.1/dns-query"
      ADDRESS: "0.0.0.0"
      PORT: 5054
      METRICS: 0.0.0.0:49312
    networks:
      piholedhcp:
        ipv4_address: "10.0.0.2"
  dhcp-relay:
    container_name: dhcp-relay
    build:
      context: .
      dockerfile: files/dhcp-relay.dockerfile
      args:
        INTERFACE_UPSTREAM: "{{ pihole_int.stdout }}"
        INTERFACE_DOWNSTREAM: "{{ default_int.stdout }}"
        SERVER: "10.0.0.10"
    image: local/dhcp-relay:latest
    environment:
      INTERFACE_UPSTREAM: "{{ pihole_int.stdout }}"
      INTERFACE_DOWNSTREAM: "{{ default_int.stdout }}"
      SERVER: "10.0.0.10"
      TZ: "{{ ansible_nas_timezone }}"
    restart: always
    network_mode: host
    depends_on:
      - pihole
    cap_add:
      - NET_ADMIN
    labels:
      - "com.centurylinklabs.watchtower.enable=false"
  pihole:
    container_name: pihole
    image: phynias/pihole-regex:latest
    networks:
      piholedhcp:
        ipv4_address: "10.0.0.10"
    ports:
      - "{{ pihole_ip }}:53:53/tcp" #dns
      - "{{ pihole_ip }}:53:53/udp" #dns
      - "{{ pihole_ip }}:853:853"
    expose:
      - "53/tcp"
      - "53/udp"
      - "853"
    environment:
      FTLCONF_dns_upstreams: 10.0.0.2#5054
      TZ: "{{ ansible_nas_timezone }}"
      FTLCONF_webserver_api_password: "{{ pihole_password }}"
      FTLCONF_dns_listeningMode: all
    # Volumes store your data between container upgrades
    volumes:
      - "{{ pihole_data_directory }}/logs:/var/log:rw"
      - "{{ pihole_data_directory }}/pihole:/etc/pihole"
      - "{{ pihole_data_directory }}/dnsmasq.d:/etc/dnsmasq.d"
      - "/tools/pihole:/tools:ro"
    dns:
      - 127.0.0.1
      - 1.1.1.1
    # Recommended but not required (DHCP needs NET_ADMIN)
    #   https://github.com/pi-hole/docker-pi-hole#note-on-capabilities
    cap_add:
      - NET_ADMIN
    restart: always
    labels:
      - "traefik.enable={{ pihole_available_externally }}"
      - "traefik.http.routers.pihole.entrypoints=web,websecure"
      - "traefik.http.routers.pihole.rule=Host(`{{ pihole_hostname }}.{{ ansible_nas_domain }}`)"
      - "traefik.http.routers.pihole.tls.domains[0].main={{ ansible_nas_domain }}"
      - "traefik.http.routers.pihole.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
      - "traefik.http.services.pihole.loadbalancer.server.port=80"
      # Middleware to set the Content-Security-Policy header
      - "traefik.http.middlewares.csp-headers.headers.customResponseHeaders.Content-Security-Policy=frame-ancestors organizr.shazbot.one"
      # Attach the middleware to the router
      - "traefik.http.routers.pihole.middlewares=csp-headers"
    depends_on:
      - cloudflared
networks:
  piholedhcp:
    external: true
