#version: "3.3"
services:
  speedtest-tracker:
    container_name: speedtesttracker
    networks:
      - bridge
    environment:
      - PUID={{ speedtesttracker_user_id }}
      - PGID={{ speedtesttracker_group_id }}
      - DB_CONNECTION=pgsql
      - DB_HOST=speedtest-tracker-db
      - DB_PORT=5432
      - DB_DATABASE={{ speedtesttracker_db_name }}
      - DB_USERNAME={{ speedtesttracker_db_user }}
      - DB_PASSWORD={{ speedtesttracker_db_pass }}
      - TZ={{ ansible_nas_timezone }}
      - APP_TIMEZONE={{ ansible_nas_timezone }}
      - DISPLAY_TIMEZONE={{ ansible_nas_timezone }}
      - APP_KEY={{ speedtesttracker_key }}
      - SPEEDTEST_SCHEDULE=15,30,45,0 * * * *
      - SPEEDTEST_SERVERS=2402,2403,14236,17527,12191
    volumes:
      - "{{ speedtesttracker_data_directory }}/config:/config"
    image: "lscr.io/linuxserver/speedtest-tracker:latest"
    restart: unless-stopped
    depends_on:
      - speedtest-tracker-db
    links:
      - speedtest-tracker-db
    labels:
      - "traefik.http.routers.speedtesttracker.entrypoints=web,websecure"
      - "traefik.enable={{ speedtesttracker_available_externally }}"
      - "traefik.http.routers.speedtesttracker.rule=Host(`{{ speedtesttracker_hostname }}.{{ ansible_nas_domain }}`)"
      - "traefik.http.routers.speedtesttracker.tls.domains[0].main={{ ansible_nas_domain }}"
      - "traefik.http.routers.speedtesttracker.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
      - "traefik.http.services.speedtesttracker.loadbalancer.server.port=80"
      # Middleware to set the Content-Security-Policy header
      - "traefik.http.middlewares.csp-headers.headers.customResponseHeaders.Content-Security-Policy=frame-ancestors organizr.shazbot.one"
      # Attach the middleware to the router
      - "traefik.http.routers.speedtesttracker.middlewares=csp-headers"
  speedtest-tracker-db:
    container_name: speedtesttracker-db
    image: postgres:15
    networks:
      - bridge
    environment:
      - POSTGRES_DB={{ speedtesttracker_db_name }}
      - POSTGRES_USER={{ speedtesttracker_db_user }}
      - POSTGRES_PASSWORD={{ speedtesttracker_db_pass }}
    volumes:
      - "{{ speedtesttracker_data_directory }}/db:/var/lib/postgresql/data"
    restart: unless-stopped
networks:
  bridge:
    external: true
    name: "{{ nas_bridge_network }}"
