version: "3.3"
services:
    speedtest-tracker:
        container_name: speedtesttracker
        networks:
            - nas_bridge
        environment:
            - PUID={{ speedtesttracker_user_id }}
            - PGID={{ speedtesttracker_group_id }}
            - DB_CONNECTION=pgsql
            - DB_HOST=speedtest-tracker-db
            - DB_PORT=5432
            - DB_DATABASE=speedtest_tracker
            - DB_USERNAME={{ speedtesttracker_db_user }}
            - DB_PASSWORD={{ speedtesttracker_db_pass }}
            - TZ={{ ansible_nas_timezone }}
        volumes:
            - "{{ speedtesttracker_data_directory }}/config:/config"
        image: "lscr.io/linuxserver/speedtest-tracker:latest"
        restart: unless-stopped
        depends_on:
            - speedtest-tracker-db
        restart: unless-stopped
        restart: always
        links:
          - speedtest-tracker-db
        labels:
            - "traefik.http.routers.speedtesttracker.entrypoints=web,websecure"
            - "traefik.enable={{ speedtesttracker_available_externally }}"
            - "traefik.http.routers.speedtesttracker.rule=Host(`{{ speedtesttracker_hostname }}.{{ ansible_nas_domain }}`)"
            - "traefik.http.routers.speedtesttracker.tls.domains[0].main={{ ansible_nas_domain }}"
            - "traefik.http.routers.speedtesttracker.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
            - "traefik.http.services.speedtesttracker.loadbalancer.server.port=80"

    speedtest-tracker-db:
        container_name: speedtesttracker-db
        image: postgres:15
        networks:
            - nas_bridge
        restart: always
        environment:
            - POSTGRES_DB=speedtest_tracker
            - POSTGRES_USER=speedy
            - POSTGRES_PASSWORD=password
        volumes:
            - "{{ speedtesttracker_data_directory }}/db:/var/lib/postgresql/data"
        restart: unless-stopped
        restart: always

networks:
  nas_bridge:
    external: true
