---
- name: Create CloudCmd Directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ cloudcmd_data_directory }}"
- name: CloudCmd
  docker_container:
    name: cloudcmd
    image: coderaiser/cloudcmd
    pull: true
    volumes:
      - "{{ cloudcmd_data_directory }}:/config:rw"
      - "{{ cloudcmd_browse_directory }}:/mnt/fs"
    networks:
      - name: "{{ nas_bridge_network }}"
        #    ports:
        #      - "{{ cloudcmd_port }}:8000"
    env:
      TZ: "{{ ansible_nas_timezone }}"
      PUID: "{{ cloudcmd_user_id }}"
      PGID: "{{ cloudcmd_group_id }}"
    restart_policy: unless-stopped
    recreate: "{{ 'yes' if docker_recreate else 'no' }}"
    memory: 1g
    labels:
      traefik.enable: "{{ cloudcmd_available_externally }}"
      traefik.http.routers.cloudcmd.entrypoints: "web,websecure"
      traefik.http.routers.cloudcmd.rule: "Host(`cloudcmd.{{ ansible_nas_domain }}`)"
      traefik.http.routers.cloudcmd.tls.certresolver: "letsencrypt"
      traefik.http.routers.cloudcmd.tls.domains[0].main: "{{ ansible_nas_domain }}"
      traefik.http.routers.cloudcmd.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
      traefik.http.services.cloudcmd.loadbalancer.server.port: "8000"
      flame.type: application
      flame.name: cloudcm
      flame.url: "https://cloudcm.{{ ansible_nas_domain }}"
      flame.category: "Home Automation"
      flame.icon: "cloudcm.png"
