---
- name: Create Guacamole directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ guacamole_data_directory }}/config"
- name: Remove Old Guacamole Mysql Docker Container
  docker_container:
    name: guacamole-mysql
    state: absent
    keep_volumes: true
- name: Remove Old Guacamole guacd Docker Container
  docker_container:
    name: guacamole-guacd
    state: absent
    keep_volumes: true
- name: Remove old Guacamole directories
  file:
    path: "{{ item }}"
    state: absent
  with_items:
    - "{{ guacamole_data_directory }}/mysql"
# docker run -v /home/david/.guac:/config:rw  -p 8080:8080   oznu/guacamole
- name: Guacamole Container
  docker_container:
    name: guacamole
    image: "oznu/guacamole"
    pull: true
    volumes:
      - "{{ guacamole_data_directory }}/config:/config:rw"
    networks:
      - name: "{{ nas_bridge_network }}"
        #    ports:
        #      - "{{ guacamole_port }}:8080"
    restart_policy: unless-stopped
    recreate: "{{ 'yes' if docker_recreate else 'no' }}"
    memory: 1g
    labels:
      traefik.enable: "{{ guacamole_available_externally }}"
      traefik.http.routers.guacamole.entrypoints: "web,websecure"
      traefik.http.routers.guacamole.rule: "Host(`guacamole.{{ ansible_nas_domain }}`)"
      traefik.http.routers.guacamole.tls.certresolver: "letsencrypt"
      traefik.http.routers.guacamole.tls.domains[0].main: "{{ ansible_nas_domain }}"
      traefik.http.routers.guacamole.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
      traefik.http.services.guacamole.loadbalancer.server.port: "8080"
      flame.type: application
      flame.name: guacamole
      flame.url: "https://guacamole.{{ ansible_nas_domain }}"
      flame.category: "Productivity"
      flame.icon: "guacamole.png"

- name: Restart Guacamole Container
  docker_container:
    name: guacamole
    image: "oznu/guacamole"
    restart: true
