
---
- name: Krusader Directory
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ krusader_config_directory }}/krusader"
- name: Krusader Docker Container
  docker_container:
    name: krusader
    image: djaydev/krusader:latest
    pull: true
    volumes:
      - "{{ krusader_config_directory }}:/config:rw"
      - "{{ krusader_browse_directory }}:/mnt/fs"
    networks:
      - name: "{{ nas_bridge_network }}"
        #   ports:
        #     - "{{ krusader_port_http }}:5800"
        #     - "{{ krusader_port_vnc }}:5900"
    env:
      USER_ID: "{{ krusader_user_id }}"
      GROUP_ID: "{{ krusader_group_id }}"
      SECURE_CONNECTION: "{{ krusader_secure_connection }}"
      TZ: "{{ ansible_nas_timezone }}"
      VNC_PASSWORD: "{{ krusader_vnc_password }}"
    restart_policy: unless-stopped
    recreate: "{{ 'yes' if docker_recreate else 'no' }}"
    memory: 1g
    labels:
      traefik.enable: "{{ krusader_available_externally }}"
      traefik.http.routers.krusader.entrypoints: "web,websecure"
      traefik.http.routers.krusader.rule: "Host(`krusader.{{ ansible_nas_domain }}`)"
      traefik.http.routers.krusader.tls.certresolver: "letsencrypt"
      traefik.http.routers.krusader.tls.domains[0].main: "{{ ansible_nas_domain }}"
      traefik.http.routers.krusader.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
      traefik.http.services.krusader.loadbalancer.server.port: "5800"
      flame.type: application
      flame.name: krusader
      flame.url: "https://krusader.{{ ansible_nas_domain }}"
      flame.category: "Productivity"
      flame.icon: "krusader.png"
