- name: Create Tautulli Directories
  file:
    path: "{{ item }}"
    state: directory
    # mode: 0755
  with_items:
    - "{{ tautulli_config_directory }}"
    - "{{ plex_logs }}"
- name: Tautulli Docker Container
  docker_container:
    name: tautulli
    image: linuxserver/tautulli
    pull: true
    volumes:
      - "{{ tautulli_config_directory }}:/config:rw"
      - "{{ plex_logs }}:/logs:ro"
      #    ports:
      #      - "{{ tautulli_port }}:8181"
    network_mode: "{{ 'container:' + proxy_container if lidarr_proxy else 'None' }}"
    env:
      TZ: "{{ ansible_nas_timezone }}"
      PUID: "{{ tautulli_user_id }}"
      PGID: "{{ tautulli_group_id }}"
    restart_policy: unless-stopped
    recreate: "{{ 'yes' if docker_recreate else 'no' }}"
    memory: 256m
    labels:
      traefik.enable: "{{ tautulli_available_externally }}"
      traefik.http.routers.tautulli.entrypoints: "web,websecure"
      traefik.http.routers.tautulli.rule: "Host(`{{ tautulli_hostname }}.{{ ansible_nas_domain }}`)"
      traefik.http.routers.tautulli.tls.certresolver: "letsencrypt"
      traefik.http.routers.tautulli.tls.domains[0].main: "{{ ansible_nas_domain }}"
      traefik.http.routers.tautulli.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
      traefik.http.services.tautulli.loadbalancer.server.port: "8181"
      flame.type: application
      flame.name: "{{ tautulli_hostname }}"
      flame.url: "https://{{ tautulli_hostname }}.{{ ansible_nas_domain }}"
      flame.category: "Monitoring"
      flame.icon: "{{ tautulli_hostname }}.png"
