---
- name: The Lounge Directories
  file:
    path: "{{ item }}"
    state: directory
  with_items:
    - "{{ thelounge_data_directory }}"
    - "{{ thelounge_data_directory }}/users"
- name: Set up admin user
  copy:
    src: files/thelounge/users/admin.json
    dest: "{{ thelounge_data_directory }}/users/admin.json"
    mode: 0777
- name: The Lounge Docker Container
  docker_container:
    name: thelounge
    image: thelounge/thelounge:latest
    pull: true
    #    ports:
    #      - "{{ thelounge_port_one }}:9001"
    #      - "{{ thelounge_port_two }}:9000"
    networks:
      - name: "{{ nas_bridge_network }}"
    volumes:
      - "{{ thelounge_data_directory }}:/var/opt/thelounge"
      - "/var/run/dbus:/var/run/dbus"
    restart_policy: unless-stopped
    recreate: "{{ 'yes' if docker_recreate else 'no' }}"
    memory: 1g
    labels:
      traefik.enable: "{{ thelounge_available_externally }}"
      traefik.http.routers.thelounge.entrypoints: "web,websecure"
      traefik.http.routers.thelounge.rule: "Host(`thelounge.{{ ansible_nas_domain }}`)"
      traefik.http.routers.thelounge.tls.certresolver: "letsencrypt"
      traefik.http.routers.thelounge.tls.domains[0].main: "{{ ansible_nas_domain }}"
      traefik.http.routers.thelounge.tls.domains[0].sans: "*.{{ ansible_nas_domain }}"
      traefik.http.services.thelounge.loadbalancer.server.port: "9000"
      flame.type: application
      flame.name: thelounge
      flame.url: "https://thelounge.{{ ansible_nas_domain }}"
      flame.category: "Productivity"
      flame.icon: "thelounge.png"
