---
services:
  trilium:
    container_name: trilium
    image: zadam/trilium
    networks:
      - bridge
    restart: unless-stopped
    environment:
      - TRILIUM_DATA_DIR=/home/node/trilium-data
    volumes:
      - {{ trilium_data_directory }}:/home/node/trilium-data
    logging:
      driver: "json-file"
      options:
        max-size: 256m
        max-file: "1"
    labels:
        - "traefik.http.routers.trilium.entrypoints=web,websecure"
        - "traefik.enable={{ trilium_available_externally }}"
        - "traefik.http.routers.trilium.rule=Host(`{{ trilium_hostname }}.{{ ansible_nas_domain }}`)"
        - "traefik.http.routers.trilium.tls.domains[0].main={{ ansible_nas_domain }}"
        - "traefik.http.routers.trilium.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
        - "traefik.http.services.trilium.loadbalancer.server.port=8080"
        # Middleware to set the Content-Security-Policy header
        - "traefik.http.middlewares.csp-headers.headers.customResponseHeaders.Content-Security-Policy=frame-ancestors organizr.shazbot.one"
        # Attach the middleware to the router
        - "traefik.http.routers.trilium.middlewares=csp-headers"

networks:
  bridge:
    external: true
    name: "{{ nas_bridge_network }}"
