---
services:
  scheduler:
    image: mcuadros/ofelia:latest
    container_name: scheduler
    depends_on:
      - plextraktsync
    command: daemon --docker
    networks:
      - bridge
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    labels:
      ofelia.job-run.plextraktsync.schedule: "@every 2h"
      ofelia.job-run.plextraktsync.container: "plextraktsync"
    restart: unless-stopped
  plextraktsync:
    image: ghcr.io/taxel/plextraktsync
    command: sync
    networks:
      - bridge
    container_name: plextraktsync
    volumes:
      - "{{ plextraktsync_data_directory }}/config:/app/config"
    environment:
      - PUID={{ plextraktsync_user_id }}
      - PGID={{ plextraktsync_group_id }}
      - TZ={{ ansible_nas_timezone }}
networks:
  bridge:
    external: true
    name: "{{ nas_bridge_network }}"
