---
services:
  zerobyte:
    image: ghcr.io/nicotsx/zerobyte:latest
    container_name: zerobyte
    restart: unless-stopped
    cap_add:
      - SYS_ADMIN
    devices:
      - /dev/fuse:/dev/fuse
    environment:
      - "TZ={{ ansible_nas_timezone }}"
    volumes:
      - "/etc/localtime:/etc/localtime:ro"
      - "{{ zerobyte_data_directory }}:/var/lib/zerobyte"
      - "{{ immich_photos_directory }}:/mine/immich_photos"
      - "{{ docker_home }}:/mine/zpool_docker"
{% for v in (zerobyte_extra_volumes | default([])) %}
      - {{ v }}
{% endfor %}
    networks:
      - bridge
    labels:
      - "traefik.http.routers.zerobyte.entrypoints=websecure"
      - "traefik.enable={{ zerobyte_available_externally }}"
      - "traefik.http.routers.zerobyte.rule=Host(`{{ zerobyte_hostname }}.{{ ansible_nas_domain }}`)"
      - "traefik.http.routers.zerobyte.tls.domains[0].main={{ ansible_nas_domain }}"
      - "traefik.http.routers.zerobyte.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
      - "traefik.http.services.zerobyte.loadbalancer.server.port=4096"

networks:
  bridge:
    external: true
    name: "{{ nas_bridge_network }}"
