---
#version: '2.1'
services:
  immich:
    image: ghcr.io/imagegenius/immich:latest
    networks:
      - bridge
    container_name: immich
    environment:
      - PUID={{ immich_user_id }}
      - PGID={{ immich_group_id }}
      - TZ={{ ansible_nas_timezone }}
      - DB_HOSTNAME=immich_db
      - DB_USERNAME={{ immich_db_user }}
      - DB_PASSWORD={{ immich_db_password }}
      - DB_DATABASE_NAME={{ immich_db_name }}
      - REDIS_HOSTNAME=immich_redis
    volumes:
      - {{ immich_data_directory }}/config:/config
      - {{ immich_photos_directory }}:/photos
      # - path_to_imports:/import:ro #optional
    restart: unless-stopped
    depends_on:
      - immich_redis
      - immich_db
    links:
      - immich_redis
      - immich_db
    logging:
      driver: "json-file"
      options:
        max-size: 256m
        max-file: "1"
    labels:
        - "traefik.http.routers.immich.entrypoints=websecure,websecure-ext"
        - "traefik.enable={{ immich_available_externally }}"
        - "traefik.http.routers.immich.rule=Host(`{{ immich_hostname }}.{{ ansible_nas_domain }}`)"
        - "traefik.http.routers.immich.tls.domains[0].main={{ ansible_nas_domain }}"
        - "traefik.http.routers.immich.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
        - "traefik.http.services.immich.loadbalancer.server.port=8080"
        - "com.centurylinklabs.watchtower.enable=false"
        - "flame.type=application"
        - "flame.name=immich"
        - "flame.url=https://{{ immich_hostname }}.{{ ansible_nas_domain }}"
        - "flame.category=Photos"
        - "flame.icon=immich.png"

# This container requires an external application to be run separately.
# By default, ports for the databases are opened, be careful when deploying it
# Redis:
  immich_redis:
    image: redis
    networks:
      - bridge
    container_name: immich_redis
    restart: unless-stopped
    logging:
      driver: "json-file"
      options:
        max-size: 256m
        max-file: "1"

# PostgreSQL 14:
  immich_db:
    image: tensorchord/pgvecto-rs:pg14-v0.2.0
    networks:
      - bridge
    container_name: immich_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: {{ immich_db_user }}
      POSTGRES_PASSWORD: {{ immich_db_password }}
      POSTGRES_DB: {{ immich_db_name }}
    logging:
      driver: "json-file"
      options:
        max-size: 256m
        max-file: "1"
    volumes:
      - {{ immich_data_directory }}/db:/var/lib/postgresql/data
      - {{ immich_photos_directory }}/backups:/backups

networks:
  bridge:
    external: true
    name: "{{ nas_bridge_network }}"

