---
services:
  db_recipes:
    container_name: tandoor_db
    restart: always
    image: postgres:16-alpine
    environment:
      DB_ENGINE: "django.db.backends.postgresql"
      POSTGRES_HOST: "db_recipes"
      POSTGRES_DB: "djangodb"
      POSTGRES_PORT: "5432"
      POSTGRES_USER: "djangouser"
      POSTGRES_PASSWORD: "{{ tandoor_postgres_password }}"
    volumes:
      - "{{ tandoor_data_directory }}/postgresql:/var/lib/postgresql/data"
    networks:
      - bridge
  web_recipes:
    container_name: tandoor
    restart: always
    image: vabene1111/recipes
    environment:
      DEBUG: 0
      SECRET_KEY: "{{ tandoor_secret_key }}"
      DB_ENGINE: "django.db.backends.postgresql"
      POSTGRES_HOST: "db_recipes"
      POSTGRES_DB: "djangodb"
      POSTGRES_PORT: "5432"
      POSTGRES_USER: "djangouser"
      POSTGRES_PASSWORD: "{{ tandoor_postgres_password }}"
      ALLOWED_HOSTS: "{{ tandoor_hostname }}.{{ ansible_nas_domain }}"
      EMAIL_HOST: "{{ smtp_host }}"
      EMAIL_PORT: "{{ smtp_port }}"
      DEFAULT_FROM_EMAIL: "{{ smtp_from_email }}"
      EMAIL_USE_TLS: "1"
      EMAIL_HOST_USER: "{{ smtp_host }}"
      EMAIL_HOST_PASSWORD: "{{ smtp_password }}"
    volumes:
      - "{{ tandoor_data_directory }}/staticfiles:/opt/recipes/staticfiles"
      - "{{ tandoor_data_directory }}/nginx:/opt/recipes/nginx/conf.d"
      - "{{ tandoor_data_directory }}/mediafiles:/opt/recipes/mediafiles"
    depends_on:
      - db_recipes
    networks:
      - bridge
    labels:
      - "traefik.http.routers.tandoor.entrypoints=websecure,websecure-ext"
      - "traefik.enable={{ tandoor_available_externally }}"
      - "traefik.http.routers.tandoor.rule=Host(`{{ tandoor_hostname }}.{{ ansible_nas_domain }}`)"
      - "traefik.http.routers.tandoor.tls.domains[0].main={{ ansible_nas_domain }}"
      - "traefik.http.routers.tandoor.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
      - "traefik.http.services.tandoor.loadbalancer.server.port=80"
      # Middleware to set the Content-Security-Policy header
      - "traefik.http.middlewares.csp-headers.headers.customResponseHeaders.Content-Security-Policy=frame-ancestors organizr.shazbot.one"
      # Attach the middleware to the router
      - "traefik.http.routers.tandoor.middlewares=csp-headers"
      - "flame.type=application"
      - "flame.name=tandoor"
      - "flame.url=https://{{ tandoor_hostname }}.{{ ansible_nas_domain }}"
      - "flame.category=Recipes"
      - "flame.icon=tandoor.png"
networks:
  bridge:
    external: true
    name: "{{ nas_bridge_network }}"
