---
#version: "2.1"
services:
  mealie:
    image: ghcr.io/mealie-recipes/mealie:latest
    container_name: mealie
    networks:
      - bridge
    volumes:
      - "{{ mealie_data_directory }}:/app/data/"
    environment:
      # Set Backend ENV Variables Here
      ALLOW_SIGNUP: "false"
      TZ: "{{ ansible_nas_timezone }}"
      PUID: "{{ mealie_user_id }}"
      PGID: "{{ mealie_group_id }}"
      MAX_WORKERS: "1"
      WEB_CONCURRENCY: "1"
      BASE_URL: "https://{{ mealie_hostname }}.{{ ansible_nas_domain }}"
      SMTP_HOST: "{{ smtp_host }}"
      SMTP_PORT: "{{ smtp_port }}"
      SMTP_FROM_NAME: "{{ smtp_from_name }}"
      SMTP_FROM_EMAIL: "{{ smtp_from_email }}"
      SMTP_AUTH_STRATEGY: "{{ smtp_auth_strategy }}"
      SMTP_USER: "{{ smtp_user }}"
      SMTP_PASSWORD: "{{ smtp_password }}"
    restart: unless-stopped
    labels:
        - "traefik.http.routers.mealie.entrypoints=websecure,websecure-ext"
        - "traefik.enable={{ mealie_available_externally }}"
        - "traefik.http.routers.mealie.rule=Host(`{{ mealie_hostname }}.{{ ansible_nas_domain }}`)"
        - "traefik.http.routers.mealie.tls.domains[0].main={{ ansible_nas_domain }}"
        - "traefik.http.routers.mealie.tls.domains[0].sans=*.{{ ansible_nas_domain }}"
        - "traefik.http.services.mealie.loadbalancer.server.port=9000"
        - "com.centurylinklabs.watchtower.enable=false"

networks:
  bridge:
    external: true
    name: "{{ nas_bridge_network }}"
